# Ignore everything in .config
.config/*

# Allow the .config directory itself to be processed
!.config/

# Allow specific subfolders and their contents
!.config/nvim/
!.config/nvim/**
!.config/starship/
!.config/starship/**
!.config/wezterm/
!.config/wezterm/**
!.config/aider/
!.config/aider/**
